
  body {
    background: #ddd;
    margin: 1rem;
    padding: 1rem;
    max-width: 500px;
    margin: 2rem auto;
    font-family: "Open Sans", sans-serif;
  }

  :root{
    --font-family-regular:'Tinos', serif;
    --primary-color: #EFEA5A;
    --secondary-color: #A4036F;
}
  
  nav {
      border-bottom: 2px solid orange;
  }

  ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}
  h1 {
    text-align: center;
    font-size: 2em;
    font-family: var(--font-family-regular);
    font-size: 50px;;
    color: gold;
      margin-top:.6em;
    margin-bottom: .3em;
    text-decoration: underline overline;
      text-shadow: 2px .5px yellow;
  }
  
  table{
      text-align: center;
      width:70%; 
      margin-left:15%; 
      margin-right:15%;
  }
  
       tr:nth-child(odd) { 
        background: #F4CCCC
  }
   tr:nth-child(even){
          background: #A64D79;
   color:floralwhite;
  }
  
  ul{
      color: azure;
      font-weight: bold;
      text-shadow: 1px 1px blue;
  
  }
  ol{
      color: azure;
      font-weight: bold;
      text-shadow: 1px 1px blue;
  
  }
  h2{
      text-align: center;
      font-weight: bold;
      text-shadow: 2px 1px black;
    font-size: 1.5em;
    color: cornsilk;
      margin-top:.6em;
    margin-bottom: .3em;
    font-family: var(--font-family-regular);
  }
.thead{
    font-family: var(--font-family-regular);
}

  p{
      text-align: center;
  }
  img {
    max-width: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
      
  }
  div{
      border: 5px dotted white;
      color:rgb(200, 46, 169);
      font-family: var(--font-family-regular);
  }
  
 

.alert-btn {
    padding:5px;
    border-radius: 15px;
    background-color: var(--primary-color);
    color:var(--secondary-color);
    height:45px;
    width: 110px;
    font-family: var(--font-family-regular);
    position: relative;
    left:75px;
}


.form-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height:230px;
}

input {
    width:12vw;
    padding:3px;
    border-radius: 12px;
}

.submitBtn {
    background-color: var(--primary-color);
    color:var(--secondary-color);
    border-radius: 12px;
    padding:4px;
    width:80px;
    border:1px solid var(--secondary-color);
}